

<div class="container machines-page">
  <div class="machine row" ng-repeat="machine in machines">
    <div class="col-xs-1">
			<img src="http://www.maclife.com/files/u325188/2012/10/missing_screen.png" height="50" width="50"> 
	</div>

    <div class="col-md-9 col-xs-11">

      <div class="info">
        <a ng-href="{{ machine.url }}">
          {{ machine.T }}
          <span class="url">({{ machine.DE}})</span>
        </a>
      </div>
      <div>
        <span>submitted by <a ng-href="#/users/{{ machine.creatorUID }}">{{ machine.creator }}</a></span>
        &mdash;
        <a ng-href="#/machines/{{ machine.$id }}">comments</a>
        <a ng-click="deletemachine(machine)">delete</a>
      </div>
    </div>
  </div>
</div>
