<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://timjaroch.com/besiegemachines">Besiege Machines</a>
        </div>

        <div class="collapse navbar-collapse navbar-right" id="navbar-collapse">
			<form class="navbar-form navbar-left" role="search" ng-submit="submitMachine()">
			  <div class="form-group">
				<input type="text" class="form-control" placeholder="Title" ng-model="machine.T">
			  </div>
			  <div class="form-group">
			  <input type="text" class="form-control" placeholder="Desc" ng-model="machine.DE">
			  </div>
			  <button type="submit" class="btn btn-default">Submit</button>
			</form>

            <ul class="nav navbar-nav">
                <li><a ui-sref="machines">Machines</a></li>
				
				<li><a ng-show="!signedIn()" ng-click="openLogin()" ng-if="!user">Login</a></li>
				<li><a ng-show="!signedIn()" ui-sref="register">Sign Up</a></li>
				<li ng-show="signedIn()" class="dropdown" dropdown>
					<a class="dropdown-toggle" dropdown-toggle>{{user.profile.usr}}<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a ui-sref="profile({profileId:user.profile.usr})">My Profile</a></li>
						<li >
							<a ng-href="#" ng-click="logout()">Logout</a>
						</li>
						
					</ul>
				
				</li>
            </ul>
        </div>
    </div>
</nav>
<div class="nav-padding"></div>