<div>
	<div class="modal-header">
		<h3 class="modal-title">Please set your new Password!</h3>
	</div>
	<div class="modal-body">
		 <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<input class="form-control" ng-model="password" type="password" placeholder="New Password"/>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<input class="form-control" ng-model="password2" type="password" placeholder="Verify New Password"/>
			</div>
		</div>
		
	</div>
	<div class="modal-footer">
		<div class="row">
			<div class="col-md-12">
				<button class="btn btn-primary col-md-4 col-md-offset-2" ng-click="resetPassword()">Set Password</button>
			</div>
		</div>
	</div>
</div>