<div class="auth-forms">
	<div class="row">
			<div class="col-md-8 col-md-offset-2">
				  <h2>Register</h2>
			</div>
		</div>


  <form ng-submit="register()">
		 <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
		 <div class="row">
			<div class="col-md-8 col-md-offset-2">
				<input class="form-control" ng-model="user.email" placeholder="Email Address" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<input class="form-control" ng-model="user.password" type="password" placeholder="Password"/>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<input class="form-control" ng-model="password2" type="password" placeholder="Verify Password"/>
			</div>
		</div>

		<div class="row">
			<div class="col-md-2 col-md-offset-8">
				<input type="submit" value="Register" class="btn btn-primary" />
			</div>
		</div>

  </form>

</div>

