<div class="auth-forms">

  <h2>Register</h2>

  <form ng-submit="register()">
		 <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
		 <div class="row">
			<div class="col-md-8 col-md-offset-2">
				<input class="form-control" ng-model="user.email" placeholder="Email Address" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<input class="form-control" ng-model="user.password" type="password" placeholder="Password"/>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<input class="form-control" ng-model="password2" type="password" placeholder="Verify Password"/>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<a ng-click="sendPasswordReset()" class="input-sm italic">Reset Your Password</a>
			</div>
		</div>
    <input type="submit" value="Register" class="btn btn-primary" />
  </form>

</div>

